<div class="container-fluid">
    <h2>Home</h2>

    <p>Quick links for common tasks</p>

    <div class="col-xs-12 col-md-6 pull-left">
        <fieldset>
            <legend>Assigned to Me</legend>
            <div ng-repeat="activity in activityNames">
                <strong>{{activity.name}}</strong>
                <a href="#/markAttendance">
                    <button>Mark Attendance</button>
                </a>
                <a href="#/activity">
                    <button>View Roster</button>
                </a>
            </div>
        </fieldset>
    </div>

    <div class="col-xs-12 col-md-6 pull-left">
        <fieldset>
            <legend>View Attendance</legend>
            <label>By Day:</label><br>
            <a href="#/viewAttendance">
                Today's Attendance {{date | date}}
            </a>

                    <p class="input-group">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="dt"
                               is-open="status.opened"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               close-text="Close"/>
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
                         </span>
                    </p>


            <label>By Student:</label><br>

            <div class="container-fluid">
                <div>
                    <select name="singleSelect" ng-model="studentSearch">
                        <option value="">---Select student from dropdown---</option>
                        <!-- not selected / blank option -->
                        <option ng-repeat="student in students"
                                value="{{student.value.name_first + ' ' + student.value.name_last}}">
                            {{student.value.name_first}} {{student.value.name_last}}
                        </option>
                        <!-- interpolation -->
                    </select>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" ng-model="studentSearch"
                           placeholder="or type student's name here"
                           uib-typeahead="student.value.name_first + ' ' + student.value.name_last for student in students | filter:$viewValue"
                           typeahead-no-results="noResults">
                <span class="input-group-btn">

                    <button ng-show="noResults" class="btn btn-default disabled" type="button">
                        <i class="glyphicon glyphicon-remove"></i> No Match
                    </button>
                    <button ng-show="!noResults" class="btn btn-default" type="button">Search
                    </button>
                </span>
                </div>


            </div>
            <!--<div class="form-group">-->
            <!--<select ng-model="studentattend" class="form-control">-->
            <!--<option ng-repeat="student in students" id="{{student.key}}" ng-selected="selected">-->
            <!--{{student.value.name_first}} {{student.value.name_last}}-->
            <!--</option>-->
            <!--</select>-->
            <!--</div>-->


        </fieldset>
    </div>

    <div class="col-xs-12 col-md-6 pull-right">
        <fieldset>
            <legend>Tools</legend>
            <a href="#/newstudent">
                <button>Add New Student</button>
            </a>
            <a href="#/newactivity">
                <button>Add New Activity</button>
            </a>
            <a href="#/newuser">
                <button>Add New Staff</button>
            </a>
        </fieldset>
    </div>

</div>
