<div class="container-fluid navTop">
    <ul class="pull-right non-list">
        <li><span class="glyphicon glyphicon-user"></span> {{(auth.isAuthenticated) ? "Welcome " +
            auth.profile.given_name : "Not Signed In"}}
        </li>
        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>&nbsp;Logout</a></li>
    </ul>
    <div class="navHeading col-md-6">
        <img class="logo" src="./img/logo.png">
        <span class="text-uppercase">Attendance Tracker</span>
    </div>
</div>

<nav class="navbar navbar-default" role="navigation" ng-controller="navCtrl" ng-init="init()">
    <div class="container-fluid ">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li ng-repeat="nav in navList" ui-sref-active="active" class="item">
                    <a href ui-sref="{{nav.state}}" ng-bind="nav.name"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
