<link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,600,600italic' rel='stylesheet' type='text/css'>
<!-- bower:css -->
<link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../vendor/bootstrap-social/bootstrap-social.css"/>
<link rel="stylesheet" href="../vendor/angular-motion/dist/angular-motion.css"/>
<!-- endbower -->
<!-- injector:css -->
<link rel="stylesheet" href="../stylesheets/main.css">
<!-- endinjector -->

<div class="container-fluid">
    <h1>Add New Staff</h1>

    <form class="form-inline" method="post" ng-submit="addNewStaff()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" ng-model="newstaff.firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" ng-model="newstaff.lastName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Email</label>
            <input type="email" class="form-control" id="lastName" ng-model="newstaff.email" required>
        </div>
        <input type="submit" class="btn btn-default" value="Add New Staff">
    </form>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <!-- <th>Action</th> -->
        </tr>
        <tr ng-repeat="staff in staffs | orderBy:'-id'">
            <td>{{staff.id}}</td>
            <td>{{staff.name_first}}</td>
            <td>{{staff.name_last}}</td>
            <th>{{staff.email}}</th>
            <!-- <td>
              <form ng-submit="removeStaff(staff.id)" method="post">
                <input type="submit" class="btn btn-default" value="Delete">
              </form>
            </td> -->
        </tr>
    </table>
</div>
