.login_block {
    text-align: center;
    display:inline-block;
    width: 100%;
}

.setting-table {
	width: 48%;
	display: inline-block;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
}

legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    text-transform: uppercase;
}

.navHeading {
    font-weight: 600;
    font-size: 1.1em;
    color: #3b3331;
    display: inline-block;
    /*line-height: 80px;*/
    /*font-weight: 400;*/
    /*text-align: left;*/
    /*padding-top: 40px;*/
}

.navTop {
    background-color: lightgrey;
}

.non-list {
    list-style: none;
    margin-bottom: 0px;
    text-align: right;
}

.non-list > li{
    display: inline-block;
}

.navHeading > img {
    height: 3em;
}

.navHeading > span {
    line-height: 1.5em;
    vertical-align: bottom;
    font-size: 1.5em;
    display: inline-block;
}

.header{
    border: solid white;
}
.header > * {
    margin: 10px;
    border: solid deeppink; /*debug*/
    text-wrap: none;
}

.header > * > * {
    border: solid blue;
}


/*debugging*/
body {
    /*background-color: grey;*/
    font-family: 'Cabin', serif;
}

div {
    /*background-color: lightgrey;*/
}